.contentGestion {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    justify-items: center;
}
.gestion {
    height: 80%;
    width: 98%;
    padding: 5px;
    background-color: var(--table-background);
    backdrop-filter: blur(5px);
    mix-blend-mode: multiply;
}
.gestion tr,
 strong {
    color: var(--inner-text);
    opacity: 1;
}

h1, h2, h3, h4, h5 {
    margin-left: 20px;
    font-family: "Cabin", sans-serif;
    color: var(--titles-text);
}
hr {
    margin: 20px 15px;
    background-color: var(--titles-text);
    opacity: 0.6;
}

/* Mapa */
.Mapa {
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    padding: 10px 10px 100px 10px;
}
.SecMapa {
    width: 90%;
}
.SecMapa svg {
    padding: 15px;
}
.SecMapa path {
    paint-order: stroke;
    fill: var(--fill-color);
    stroke: var(--inner-text);
    stroke-width:0.7;
    transition: var(--tran-out-00);
}
.SecMapa path:hover {
    paint-order: normal;
    fill: var(--fill-hover);
    stroke: var(--stroke-color);
    stroke-width: 1;
    scale: 1.01;
    transform: translateY(-5px);
    transition: normal 0.6s;
}

/* Dashboard */
.dashboard {
    display: flex;
}

/* Gráficas */
.graficas {
    width: 100vw;
    margin: 20px;
    justify-content: center;
    align-content: center;
}
.graficas .grafica {
    border-style: solid;
    border-color: var(--stroke-color);
    border-width: 1.5px;
    background-color: var(--table-background);
    align-items: center;
}