.contentGestion {
    background-image: url("./imagen/ajoloteTierno.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    justify-items: center;
}
.gestion {
    height: 80%;
    width: 98%;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(5px);
}