/* Voy */
.legend {
    background-color: #9d2148;
    color: #fffae9;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}
.input:focus {
    background-color: #fffae9;
    border-color: #b28e5c;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 0 5px rgba(157,33,72, 0.5);
    color: #9d2148;
}
.select:focus {
    background-color: #fffae9;
    border-color: #b28e5c;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 0 5px rgba(157,33,72, 0.5);
    color: #857f78; 
}

@keyframes subirEfecto {
    from {
        background-color: #b28e5c;
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        background-color: none;
        opacity: 1;
        transform: translateY(0);
    }
}

.card-animada {
    opacity: 0;
    animation-name: subirEfecto;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}
.btnSc {
    background-color: #b28e5c;
    color: #fffae9;
}
p, label {
    color: #55585a;
}
.seccion-organos {
    position: absolute;
    margin: 0 10px;
    padding: 0 8px;

    order: 2px solid transparent;
    border-top: none;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-width: 2px;
    border-color: #fff;
    color: transparent;
    max-height: 0;
    overflow: hidden;
    transition: all 400ms ease-in-out;
    
    opacity: 0;
}
.seccion-organos.activo {
    position: relative;
    box-shadow: 0 4px 3px rgba(0, 0, 0, 0.4);
    color: #b28e5c;

    margin: -2px 10px 0 10px;
    padding: 10px 8px 0 8px;

    border-style: solid;
    border-top: none;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-width: 2px;
    border-color: #b28e5c;

    max-height: 500px;
    opacity: 1;
}

.checkbox {
    appearance: none;           /* Elimina el estilo por defecto */
    -webkit-appearance: none;   /* Compatibilidad con WebKit */
    width: 15px;
    height: 15px;
    border: 1px solid #555;
    border-radius: 4px;         /* Bordes redondeados */
    background-color: white;
    cursor: pointer;
    position: relative;
    transition: all 0.2s ease;
}

/* Efecto al pasar el mouse */
.checkbox:hover {
    border-color: #b28e5c;
}

/* Estado marcado */
.checkbox:checked {
    background-color: #9d2148;
    border-color: #b28e5c;
}

/* Icono de check usando pseudo-elemento */
.checkbox:checked::after {
    content: "";
    position: absolute;
    top: 1px;
    left: 4px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}