/* Para los formularios de registros */
.user-form p, label{
    color: var(--inner-text);
}
.user-form fieldset {
    border-style: solid;
    border-color: var(--stroke-color);
}
body.dark .user-form .input {
    background: var(--form-input);
    border-color: var(--stroke-color);
    border-style: solid;
    border-width: 1px;

    transition: var(--tran-03);
}

body.dark .user-form .input::placeholder,
body.dark .user-form .input,
body.dark .user-form select option {
    color: var(--inner-text);
}

body.dark .user-form select:checked {
    background-color: var(--form-input-focus);
    border-color: var(--fill-hover);
    border-style: solid;
    border-width: 1px;
}

body.dark .user-form .input:focus {
    background-color: var(--form-input-focus);
    border-color: var(--fill-hover);
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 0 5px rgba(157,33,72, 0.5);
    color: var(--inner-text);
}