/* LoaderGen */
/* https://youtu.be/ueZFNb1dDWE?si=x6KZs7cav85rJ2qF */
.loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: var(--loader-background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 99999;
    font-family: 'Roboto', sans-serif;
}

.loader-circle {
    width: 60px;
    height: 60px;
    position: relative;
    margin-bottom: 30px;
}

.loader-circle::before,
.loader-circle::after {
    content: '';
    position: absolute;
    border-radius: 50%;
    animation: pulsOut 1.0s ease-in-out infinite;
    filter: var(--loader-shadow);
}

.loader-circle::before {
    width: 100%;
    height: 100%;
    background-color: var(--loader-circle-B);
    animation-delay: 0.5s;
}

.loader-circle::after {
    width: 75%;
    height: 75%;
    background-color: var(--loader-circle-A);
    top: 12.5%;
    left: 12.5%;
}

@keyframes pulsOut {
    0% { opacity: 0.3; }
    50% { opacity: 1; }
    100% { opacity: 0.3; }
}

.loading-text {
    color: var(--titles-text);
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    margin: 10px 0;
    letter-spacing: 1px;
}

.progress-bar-container {
    width: 200px;
    height: 6px;
    background: var(--toggle-color);
    border-radius: 3px;
    overflow: hidden;
}

.progress-line {
    height: 100%;
    background: var(--fill-hover);
    width: 0%;
    transition: width 0.1s linear;
}