* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --body-filter: invert(0%);
    --body-color:#fff;
    --sidebar-color:#9d2148;
    --primary-color-light:#fffae9;
    --primary-color-dark:#60122b;
    --toggle-color:#b28e5c;
    --text-color:#fffae9;
    --table-background: rgba(255,255,255,0.4);
    --inner-text: #55585a;
    --titles-text: #9d2148;
    --fill-color:#fffae9;
    --fill-hover:#b28e5c;
    --stroke-color: #9d2148;
    --shadow-map: rgba(88,89,90,0.7);

    --form-input: rgba(178,142,92,0.4);

    --tran-01: all 0.2s ease;
    --tran-02: all 0.3s ease;
    --tran-03: all 0.4s ease;
    --tran-04: all 0.5s ease;
    --tran-out-00: normal 0.5s ease-out;
}
body {
    min-height: 100vh;
    background-color: var(--body-color);
    background-image: url(./imagen/FONDOUNDER.png);
    background-repeat : no-repeat;
    background-size : cover;
    background-position: bottom;
    background-origin: border-box;

    transition: var(--tran-04);
}
body.dark {
    --body-filter: invert(100%);
    --body-color:#121212 ;
    --sidebar-color:#60122b;
    --primary-color-light:#fffae9;
    --primary-color-dark:#9d2148;
    --toggle-color:#bfb7af;
    --text-color:#fffae9;
    --table-background: rgba(88,89,90,0.4);
    --inner-text: #fffae9;
    --titles-text: #b28e5c;
    --fill-color: #121212;
    --fill-hover:#9d2148;
    --stroke-color: #b28e5c;
    --shadow-map: rgba(255,250,233,0.7);
    
    --form-input-focus: rgba(157,33,72,0.4);

    background-color: var(--body-color);
    background-image: url(./imagen/FONDOUNDERINVERT.png);
    background-repeat : no-repeat;
    background-size : cover;
    background-position: bottom;
    background-origin: border-box;
}

/* General */
body .components {
    position: fixed;
    z-index: 10;
}
body .content {
    position: relative;
    left: 50px;
    z-index: 8;
    width: calc(100% - 80px);
    align-content: center;
}

body .content .aComponents {
    position: relative;
    left: -50px !important;
    width: calc(100% + 20px);
    background-color: #fff;
}

/* Menu */
.sidebar header {
    padding-bottom: 50px;
}
.sidebar .text {
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
}

.sidebar .image {
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-self: center;
    margin-left: 12px;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 260px;
    padding: 10px 0px;
    background: var(--sidebar-color);
    transition: var(--tran-03);
}

.sidebar.close {
    width: 65px;
    opacity: 1 !important;
}

.sidebar li {
    height: 50px;
    margin-top: 2px;
    list-style: none;
    align-items: center;
    padding: 15px 8px 15px 8px;
}

.sidebar li .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60px;
    font-size: 20px;
}
.sidebar li .icon,
.sidebar li .text {
    color: var(--text-color);
    transition: var(--tran-02);
    white-space: nowrap;
}

.sidebar.close .text,
.sidebar.close .toggle-switch,
.sidebar.close .button {
    opacity: 0;
    transform: translateX(-150px);
}

.sidebar header {
    position: relative;
}

.sidebar header .image-text {
    display: flex;
    align-items: center;
}

header .image-text .header-text {
    display: flex;
    flex-direction: column;
}

.header-text .name {
    font-size: 25px;
    font-weight: 700;
}
.header-text .profession {
    margin-top: -2px;
}

.sidebar header svg {
    position: absolute;
    top: 50%;
    right: -20px;
    transform: translateY(-50%);
    height: 30px;
    width: 30px;
    background: var(--sidebar-color);
    fill: var(--primary-color-light);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font: 20px;
}

.sidebar li a, 
.sidebar li button {
    text-decoration: none;
    background: none;
    border-style: none;
    display: flex;
}
.sidebar li {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: var(--tran-02);
}
.sidebar .toggle {
    transform: rotate(180deg);
    transition: var(--tran-02);
}
.sidebar.close .toggle {
    transform: rotate(0);
}

.sidebar li:hover {
    background: var(--primary-color-dark);
}

.sidebar li a:hover .icon,
.sidebar li .text:hover {
    color: var(--toggle-color);
    fill: var(--toggle-color);
    font-weight: 700;
}


.sidebar .menu-bar {
    height: calc(100% - 40px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-bar .mode {
    background: var(--sidebar-color);
}
.menu-bar .mode .moon-sun {
    height: 50px;
    width: 60px;
    display: flex;
    align-items: center;
}
.menu-bar .mode svg {
    position: absolute;
}
.menu-bar .mode .sun {
    opacity: 0;
    transform: rotate(90deg);
    transition: var(--tran-02);
}
.menu-bar .mode .moon {
    opacity: 1;
    transform: rotate(0);
    transition: var(--tran-02);
}

.menu-bar .mode .toggle-switch {
    display: flex;
    height: 100%;
    min-width: 60px;
    padding: 10px;
    cursor: pointer;
    transition: var(--tran-02);
}

.toggle-switch .switch {
    position: relative;
    height: 22px;
    width: 44px;
    border-radius: 25px;
    background: var(--toggle-color);
    transition: var(--tran-02);
}

.switch::before {
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background: var(--sidebar-color);
    transition: var(--tran-02);
}

body.dark .switch::before {
    left: 25px;
}
body.dark .mode .sun {
    opacity: 1;
    transform: rotate(0);
}
body.dark .mode .moon {
    opacity: 0;
    transform: rotate(-90deg);
}
body.dark td, body.dark th {
    color: var(--text-color)
}

/* Footer */

.footerEnd {
    position: fixed;
    bottom: -10px;
    left: -10px;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    opacity: 0.9;
}
.footerEnd footer {
    position: relative;
    background-color: var(--primary-color-dark);
    transition: var(--tran-02);
    min-height: 60px;
    padding: 5px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.footerEnd footer .social_icon,
.footerEnd footer .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 10px 0;
    flex-wrap: wrap;
    opacity: 1 !important;
}
.footerEnd footer .social_icon li,
.footerEnd footer .menu li {
    list-style: none;
}
.footerEnd footer .social_icon li a {
    font-size: 2em;
    color: var(--toggle-color);
    margin: 0 20px;
    display: inline-block;
    transition: var(--tran-02);
    transform: scale(1.3);
}
.footerEnd footer .social_icon li a:hover {
    color: var(--fill-color);
    transform: translateY(-10px) scale(1.5);
}
.footerEnd footer .menu li a,
.footerEnd footer .menu li .a {
    font-size: 1.2em;
    color: var(--toggle-color);
    margin: 0 20px;
    display: inline-block;
    text-decoration: none;
    transition: var(--tran-02);
    opacity: 0.75;

    background: transparent;
    border-style: none;
}
.footerEnd footer .menu li a:hover,
.footerEnd footer .menu li .a:hover {
    opacity: 1;
}
.footerEnd footer .wave {
    position: absolute;
    top: -59px;
    left: 0;
    width: 100%;
    height: 60px;
    background: url(./imagen/wave.png);
    background-size: 1000px 100px;
    transition: var(--tran-02);
}
body.dark .footerEnd footer .wave {
    position: absolute;
    top: -59px;
    left: 0;
    width: 100%;
    height: 60px;
    background: url(./imagen/waveDark.png);
    background-size: 1000px 100px;
    transition: var(--tran-02);
}
.footerEnd footer .wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWave 5s linear infinite;
}   
.footerEnd footer .wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animateWave2 4s linear infinite;
}   
.footerEnd footer .wave#wave3 {
    z-index: 998;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWave 4s linear infinite;
}   
.footerEnd footer .wave#wave4 {
    z-index: 997;
    opacity: 0.7;
    bottom: 20px;
    animation: animateWave2 3s linear infinite;
}   
    @keyframes animateWave {
        from {
            background-position-x: 1000px;
        }
        to {
            background-position-x: 0px;
        }
    }
    @keyframes animateWave2 {
        from {
            background-position-x: 0px;
        }
        to {
            background-position-x: 1000px;
        }
    }

/* Footer Form Donantes */

    /*Footer*/
.footer{
    position: fixed; 
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    
    text-align: center;
    align-items: center;
    padding: 6px 20px;
    
    border-top: #731734;
    border-width: 4px;
    border-top-style: solid;
    background-color: #9d2148;

    color: #fffae9;
    font-weight: 600;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
}  

    .footer .priv a,
    .footer .redes a {
        color: #fffae9;
        text-decoration: none;
        border: none;
    }
    .footer .priv a:hover,
    .footer .redes i:hover {
        color: #bfb7af;
        text-decoration: none;
        border: none;
        text-shadow: 1px 1px 3px rgba(0,0,0, 0.5);
        text-decoration: underline;
    }
