* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --body-color:#fff;
    --sidebar-color:#9d2148;
    --primary-color-light:#fffae9;
    --primary-color-dark:#60122b;
    --toggle-color:#b28e5c;
    --text-color:#fffae9;

    --tran-01: all 0.2s ease-out;
    --tran-02: all 0.3s ease-out;
    --tran-03: all 0.4s ease-out;
    --tran-04: all 0.5s ease-out;
}
body {
    height: 100vh;
    background: var(--body-color);
    transition: var(--tran-04);
}
body.dark {
    --body-color:#2a2c2f;
    --sidebar-color:#60122b;
    --primary-color-light:#fffae9;
    --primary-color-dark:#9d2148;
    --toggle-color:#bfb7af;
    --text-color:#fffae9;
}

/* General */
body .components {
    position: fixed;
    z-index: 10;
}
body .content {
    position: relative;
    left: 50px;
    z-index: 8;
    width: calc(100% - 80px);
}

/* Menu */
.sidebar header {
    padding-bottom: 50px;
}
.sidebar .text {
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
}

.sidebar .image {
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-self: center;
    margin-left: 12px;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 260px;
    padding: 10px 0px;
    background: var(--sidebar-color);
    transition: var(--tran-03);
}

.sidebar.close {
    width: 65px;
    opacity: 1;
}
.sidebar.close {
    width: 65px;
    opacity: 1 !important;
}

.sidebar li {
    height: 50px;
    margin-top: 2px;
    list-style: none;
    align-items: center;
    padding: 15px 8px 15px 8px;
}

.sidebar li .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60px;
    font-size: 20px;
}
.sidebar li .icon,
.sidebar li .text {
    color: var(--text-color);
    transition: var(--tran-02);
    white-space: nowrap;
}


.sidebar.close .text,
.sidebar.close .toggle-switch {
    opacity: 0;
}

.sidebar header {
    position: relative;
}

.sidebar header .image-text {
    display: flex;
    align-items: center;
}

header .image-text .header-text {
    display: flex;
    flex-direction: column;
}

.header-text .name {
    font-size: 25px;
    font-weight: 700;
}
.header-text .profession {
    margin-top: -2px;
}

.sidebar header svg {
    position: absolute;
    top: 50%;
    right: -20px;
    transform: translateY(-50%);
    height: 30px;
    width: 30px;
    background: var(--sidebar-color);
    fill: var(--primary-color-light);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font: 20px;
}

.sidebar li a, 
.sidebar li button {
    text-decoration: none;
    background: none;
    border-style: none;
    display: flex;
}
.sidebar li {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: var(--tran-02);
}
.sidebar .toggle {
    transform: rotate(180deg);
    transition: var(--tran-02);
}
.sidebar.close .toggle {
    transform: rotate(0);
}

.sidebar li:hover {
    background: var(--primary-color-dark);
}

.sidebar li a:hover .icon,
.sidebar li .text:hover {
    color: var(--toggle-color);
    fill: var(--toggle-color);
    font-weight: 700;
}


.sidebar .menu-bar {
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-bar .mode {
    background: var(--sidebar-color);
}
.menu-bar .mode .moon-sun {
    height: 50px;
    width: 60px;
    display: flex;
    align-items: center;
}
.menu-bar .mode svg {
    position: absolute;
}
.menu-bar .mode .sun {
    opacity: 0;
    transform: rotate(90deg);
    transition: var(--tran-02);
}
.menu-bar .mode .moon {
    opacity: 1;
    transform: rotate(0);
    transition: var(--tran-02);
}

.menu-bar .mode .toggle-switch {
    display: flex;
    height: 100%;
    min-width: 60px;
    padding: 10px;
    cursor: pointer;
    transition: var(--tran-02);
}

.toggle-switch .switch {
    position: relative;
    height: 22px;
    width: 44px;
    border-radius: 25px;
    background: var(--toggle-color);
    transition: var(--tran-02);
}

.switch::before {
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background: var(--sidebar-color);
    transition: var(--tran-02);
}

body.dark .switch::before {
    left: 25px;
}
body.dark .mode .sun {
    opacity: 1;
    transform: rotate(0);
}
body.dark .mode .moon {
    opacity: 0;
    transform: rotate(-90deg);
}
